#cloud-config
# vim: syntax=yaml
repo_update: true
repo_upgrade: all

groups:
  - {{ devops_group }}

users:
{% for i in devops %}
  - name: {{ i }}
    gecos: {{ devops[i].name }}
    primary_group: {{ devops_group }}
    groups: wheel
    no_user_group: True
    ssh_authorized_keys:
{% for key in devops[i].pub_keys %}
      - {{ key }}
{% endfor %}
{% endfor %}

runcmd:
  - echo JXdoZWVsCUFMTD0oQUxMKQlOT1BBU1NXRDpBTEwK | base64 -d > /etc/sudoers.d/wheel
  - chage -E -1 -d 01/01/2017 -M 99999 root
  - yum -y install epel-release yum-utils python3 python pygpgme
  - rm -f /root/anaconda-ks.cfg /root/original-ks.cfg
  - echo yes > {{ machine_is_ansible_ready_file }}
