#!/usr/bin/env bash

groupadd {{ devops_group }}

{% for i in devops %}
useradd -c "{{ devops[i].name }}" -g "{{ devops_group }}" -G wheel --create-home --no-user-group {{ i }}
mkdir /home/{{ i }}/.ssh

chown {{ i }}:{{ devops_group }} /home/{{ i }}/.ssh
chmod 700 /home/{{ i }}/.ssh

touch /home/{{ i }}/.ssh/authorized_keys

chown {{ i }}:{{ devops_group }} /home/{{ i }}/.ssh/authorized_keys
chmod 400 /home/{{ i }}/.ssh/authorized_keys

{% for key in devops[i].pub_keys %}
echo "{{ key }}" >> /home/{{ i }}/.ssh/authorized_keys
{% endfor %}

{% endfor %}

echo JXdoZWVsCUFMTD0oQUxMKQlOT1BBU1NXRDpBTEwK | base64 -d > /etc/sudoers.d/wheel

chage -E -1 -d 01/01/2017 -M 99999 root

yum -y install epel-release yum-utils python3 python pygpgme
yum -y clean all

echo yes > {{ machine_is_ansible_ready_file }}
